* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

.posts {
    margin: 10px;
    padding: 10px;
    width: 60%;
}

.edit {
    margin: 10px;
    padding: 10px;
    width: 40%;
}

fieldset{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

input {
    margin: 5px;
}

textarea {
    margin-right: 5px;
}

.postError, .putError, .deleteError {
    visibility: hidden;
    color: red;
}

